/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/04/2015, 10:11:57 AM
    Author     : christianfeo
*/

body {
      //background-color: rgba(0,238,247,1);
      background-color: rgba(69,184,226,1);
}

@font-family-base
{
    font-family: Algerian;
}

#content
{
    background-color:white;
    margin-top:0;
}

#wrapper
{
    max-width:1200px;
}

.header-jumbo{
    padding: 15px 0;
    margin-bottom:0px;
   // background-color:rgba(165,9,169,1);
   background-color: rgba(69,184,226,1);
    
}

#header-bg
{
    border-radius: 0;
    background-size: 200px;
}

#logo-gomaespuma
{
    width:100%;
    max-width:730px;
    height:auto;
}

#nav-gomaespuma{
    min-height: 20px;
    background-color:#E90BEF;
    border: 0 none;
    color:white;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a{
    color:white;
}

.navbar-inverse .navbar-nav>li>a:hover{
    color:rgb(0,238,247);
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: black;
  text-decoration: none;
  background-color: white;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

#redes
{
    float:right;
    vertical-align: bottom;
    text-align: right;
    width:200px;
}

#mensaje-principal
{
    width:100%;
    max-width:680px;
    text-align: center;
    font-weight:bold;
    font-size:18px;
}

#paleta-colores
{
    max-width: 100%;
    height:auto;
}

#slider-gomaespuma
{
    margin:0 auto;
}